service/WebContent/wsdl/ServiceTimetable.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.tomcat.denevell.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.tomcat.denevell.org" xmlns:intf="http://service.tomcat.denevell.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.tomcat.denevell.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createComment">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="c" type="xsd:string"/>
      <element name="courseName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCommentResponse">
    <complexType>
     <sequence>
      <element name="createCommentReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccount">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccountResponse">
    <complexType>
     <sequence>
      <element name="createAccountReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="editAccount">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editAccountResponse">
    <complexType>
     <sequence>
      <element name="editAccountReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeAccount">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeAccountResponse">
    <complexType>
     <sequence>
      <element name="removeAccountReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTimeprofile">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="tpName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTimeprofileResponse">
    <complexType>
     <sequence>
      <element name="createTimeprofileReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="editTimeprofile">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="tpName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editTimeprofileResponse">
    <complexType>
     <sequence>
      <element name="editTimeprofileReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTimeprofile">
    <complexType>
     <sequence>
      <element name="timeprofile" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTimeprofileResponse">
    <complexType>
     <sequence>
      <element name="removeTimeprofileReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createHour">
    <complexType>
     <sequence>
      <element name="start" type="xsd:string"/>
      <element name="end" type="xsd:string"/>
      <element name="tpName" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="hourIndex" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createHourResponse">
    <complexType>
     <sequence>
      <element name="createHourReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTimetable">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="ttName" type="xsd:string"/>
      <element name="tpName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTimetableResponse">
    <complexType>
     <sequence>
      <element name="createTimetableReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="editTimetable">
    <complexType>
     <sequence>
      <element name="ttName" type="xsd:string"/>
      <element name="tpName" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editTimetableResponse">
    <complexType>
     <sequence>
      <element name="editTimetableReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTimetable">
    <complexType>
     <sequence>
      <element name="ttName" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTimetableResponse">
    <complexType>
     <sequence>
      <element name="removeTimetableReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCourse">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="shortname" type="xsd:string"/>
      <element name="teacher" type="xsd:string"/>
      <element name="description" type="xsd:string"/>
      <element name="room" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCourseResponse">
    <complexType>
     <sequence>
      <element name="createCourseReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeComment">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="courseName" type="xsd:string"/>
      <element name="comment" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeCommentResponse">
    <complexType>
     <sequence>
      <element name="removeCommentReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createVisitedCourse">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="ttName" type="xsd:string"/>
      <element name="tpName" type="xsd:string"/>
      <element name="courseName" type="xsd:string"/>
      <element name="day" type="xsd:int"/>
      <element name="hourIndex" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createVisitedCourseResponse">
    <complexType>
     <sequence>
      <element name="createVisitedCourseReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeVisitedCourse">
    <complexType>
     <sequence>
      <element name="courseName" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="ttName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeVisitedCourseResponse">
    <complexType>
     <sequence>
      <element name="removeVisitedCourseReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createHourRequest">

      <wsdl:part element="impl:createHour" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeCommentRequest">

      <wsdl:part element="impl:removeComment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeTimeprofileResponse">

      <wsdl:part element="impl:removeTimeprofileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editAccountRequest">

      <wsdl:part element="impl:editAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeTimeprofileRequest">

      <wsdl:part element="impl:removeTimeprofile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeVisitedCourseRequest">

      <wsdl:part element="impl:removeVisitedCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createVisitedCourseResponse">

      <wsdl:part element="impl:createVisitedCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeCommentResponse">

      <wsdl:part element="impl:removeCommentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeVisitedCourseResponse">

      <wsdl:part element="impl:removeVisitedCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editTimetableRequest">

      <wsdl:part element="impl:editTimetable" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createVisitedCourseRequest">

      <wsdl:part element="impl:createVisitedCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTimetableResponse">

      <wsdl:part element="impl:createTimetableResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeTimetableRequest">

      <wsdl:part element="impl:removeTimetable" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTimetableRequest">

      <wsdl:part element="impl:createTimetable" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCourseRequest">

      <wsdl:part element="impl:createCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editTimeprofileRequest">

      <wsdl:part element="impl:editTimeprofile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountRequest">

      <wsdl:part element="impl:createAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editTimetableResponse">

      <wsdl:part element="impl:editTimetableResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTimeprofileRequest">

      <wsdl:part element="impl:createTimeprofile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCommentResponse">

      <wsdl:part element="impl:createCommentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountResponse">

      <wsdl:part element="impl:createAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeAccountRequest">

      <wsdl:part element="impl:removeAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createHourResponse">

      <wsdl:part element="impl:createHourResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeTimetableResponse">

      <wsdl:part element="impl:removeTimetableResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTimeprofileResponse">

      <wsdl:part element="impl:createTimeprofileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCourseResponse">

      <wsdl:part element="impl:createCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editTimeprofileResponse">

      <wsdl:part element="impl:editTimeprofileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editAccountResponse">

      <wsdl:part element="impl:editAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeAccountResponse">

      <wsdl:part element="impl:removeAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCommentRequest">

      <wsdl:part element="impl:createComment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServiceTimetable">

      <wsdl:operation name="createComment">

         <wsdl:input message="impl:createCommentRequest" name="createCommentRequest">

       </wsdl:input>

         <wsdl:output message="impl:createCommentResponse" name="createCommentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdl:input message="impl:createAccountRequest" name="createAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:createAccountResponse" name="createAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editAccount">

         <wsdl:input message="impl:editAccountRequest" name="editAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:editAccountResponse" name="editAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeAccount">

         <wsdl:input message="impl:removeAccountRequest" name="removeAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeAccountResponse" name="removeAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTimeprofile">

         <wsdl:input message="impl:createTimeprofileRequest" name="createTimeprofileRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTimeprofileResponse" name="createTimeprofileResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editTimeprofile">

         <wsdl:input message="impl:editTimeprofileRequest" name="editTimeprofileRequest">

       </wsdl:input>

         <wsdl:output message="impl:editTimeprofileResponse" name="editTimeprofileResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeTimeprofile">

         <wsdl:input message="impl:removeTimeprofileRequest" name="removeTimeprofileRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeTimeprofileResponse" name="removeTimeprofileResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createHour">

         <wsdl:input message="impl:createHourRequest" name="createHourRequest">

       </wsdl:input>

         <wsdl:output message="impl:createHourResponse" name="createHourResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTimetable">

         <wsdl:input message="impl:createTimetableRequest" name="createTimetableRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTimetableResponse" name="createTimetableResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editTimetable">

         <wsdl:input message="impl:editTimetableRequest" name="editTimetableRequest">

       </wsdl:input>

         <wsdl:output message="impl:editTimetableResponse" name="editTimetableResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeTimetable">

         <wsdl:input message="impl:removeTimetableRequest" name="removeTimetableRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeTimetableResponse" name="removeTimetableResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createCourse">

         <wsdl:input message="impl:createCourseRequest" name="createCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:createCourseResponse" name="createCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeComment">

         <wsdl:input message="impl:removeCommentRequest" name="removeCommentRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeCommentResponse" name="removeCommentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createVisitedCourse">

         <wsdl:input message="impl:createVisitedCourseRequest" name="createVisitedCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:createVisitedCourseResponse" name="createVisitedCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeVisitedCourse">

         <wsdl:input message="impl:removeVisitedCourseRequest" name="removeVisitedCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeVisitedCourseResponse" name="removeVisitedCourseResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceTimetableSoapBinding" type="impl:ServiceTimetable">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createComment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCommentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createCommentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTimeprofile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTimeprofileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTimeprofileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editTimeprofile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editTimeprofileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editTimeprofileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeTimeprofile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeTimeprofileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeTimeprofileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createHour">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createHourRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createHourResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTimetable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTimetableRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTimetableResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editTimetable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editTimetableRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editTimetableResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeTimetable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeTimetableRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeTimetableResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeComment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeCommentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeCommentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createVisitedCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createVisitedCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createVisitedCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeVisitedCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeVisitedCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeVisitedCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceTimetableService">

      <wsdl:port binding="impl:ServiceTimetableSoapBinding" name="ServiceTimetable">

         <wsdlsoap:address location="http://localhost:8080/StundenPlaner/services/ServiceTimetable"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
